<ion-header>
  <ion-toolbar>
      <ion-buttons slot="start">
          <!-- <ion-menu-button></ion-menu-button> -->
        </ion-buttons>
    <ion-title><ion-icon ios="ios-arrow-back" md="md-arrow-back" (click)='GoBack()'></ion-icon> Image Upload</ion-title>
  </ion-toolbar>
</ion-header>

<!-- <ion-content padding>

    <ion-button (click)="capture()">Camera</ion-button>
<ion-item *ngIf="uploadflag">
    <ion-label>Image Preview</ion-label>
    <img *ngIf="base64Image" [src]="DomSanitizer.bypassSecurityTrustUrl(base64Image)"/>
    <ion-button (click)="">Upload</ion-button>
</ion-item>

</ion-content> -->

<ion-content padding  class="backgroundcolorApp">
<!-- <ion-row>
    <ion-col size="12" size-sm>
        <img *ngIf="base64Image" [src]="DomSanitizer.bypassSecurityTrustUrl(base64Image)"/>
    </ion-col>
</ion-row> -->
<ion-segment style="background-color: #FFF !important;" >
    <ion-segment-button style="width: 50%; " (click)="capture()">
        Choose Photo
    </ion-segment-button>
    <ion-segment *ngIf="uploadflag">
        <ion-segment-button class="button icon-left ion-upload" style="width: 50%; " (click)="presentLoadingWithOptions()" ng-disabled="base64Image === null">
            Upload
        </ion-segment-button>
    </ion-segment>
</ion-segment>
</ion-content>