<ion-header>
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-menu-button></ion-menu-button>
    </ion-buttons>
    <ion-title class="title">
      <ion-icon class="arrow" ios="ios-arrow-back" md="md-arrow-back" (click)='GoBack()'></ion-icon>Status
    </ion-title>
  </ion-toolbar>
</ion-header>
<ion-content padding style="background-color: #EBFAFF !important;">
  <ion-segment [(ngModel)]="filtering" style="background-color: #FFF !important;" (ionChange)="segmentChanged($event)">
    <ion-segment-button value="employee" style="background-color: #FFF !important;" (ionSelect)="selectedEmployees()">
      <ion-label style="color: black">EMPLOYEE</ion-label>
    </ion-segment-button>
    <ion-segment-button value="facility" (ionSelect)="selectedFacility()">
      <ion-label style="color: black">FACILITY</ion-label>
    </ion-segment-button>
    <ion-segment-button value="status" style="background-color: #FFF !important;" (ionSelect)="selectedStatus()">
      <ion-label style="color: black">STATUS</ion-label>
    </ion-segment-button>
  </ion-segment>

  <!-- <ion-button ion-button color="success" href="workorderFilteringByEmployee" >EMPLOYEE</ion-button>
  <ion-button ion-button color="success" href="WorkOrderFilteringByFacility" >FACILITY</ion-button>
  <ion-button ion-button color="success" href="WorkOrderFilteringByStatus" (click)="getAllWorkStatus()">STATUS</ion-button>
  <br> -->
  <br>
  <br>

  <!-- <ion-card  *ngFor="let item of workorderStatusList"
    
      (click)="getWorkorderBYStatusKey(item.WorkorderStatusKey)"
       
        align='center'  padding>
    {{item.WorkorderStatus===temp_status}}

    {{item.WorkorderStatus}} ({{item.totalItems}}) 
    
</ion-card> -->
  <ion-grid text-center>
    <ion-label  text-center *ngFor="let item of workorderStatusList">

      <button  type="button" style="margin-top: 1%" color="#FFF" class="statusFilter-{{item.WorkorderStatus===temp_status}} " align='center'
        (click)="getWorkorderBYStatusKey(item.WorkorderStatusKey)" padding>
        {{item.WorkorderStatus}} ({{item.totalItems}})
    
      </button>
    </ion-label>
  </ion-grid>

      <!-- /****************************************************************/
                 <ion-button class="button-brown-{{item.WorkorderStatus===temp_status}} "align='center' (click)="getWorkorderBYStatusKey(item.WorkorderStatusKey)" padding>
 
                    {{item.WorkorderStatus===temp_status}}

        
                    {{item.WorkorderStatus}} ({{item.totalItems}}) 
                </ion-button> -->

  <!-- <ion-button ion-button color="light" class=" button-brown-{{true}}" >Finish</ion-button> -->


  <ion-card *ngFor="let data of viewworkorder" style="background-color: #FFF !important;"
    routerLink="/manager-menu/work-order-detail/{{data.WorkorderKey}}">
    <ion-card-header align='center' padding>
      <ion-card-title>{{data.WorkorderTypeName}}</ion-card-title>
    </ion-card-header>
    <ion-card-content align='center' padding>
      <div *ngIf="data.FacilityName">
        <p>{{data.FacilityName}} - {{data.ZoneName}} - {{data.FloorName}}</p>
        <p>{{data.WorkorderTime}}</p>
        <p>Assigned to : {{data.LastName}},{{data.FirstName}} </p>
        <p>Priority : {{data.PriorityValue}}</p>
        <br>
        <br>
        <p>
          <ion-label class="label text-brown-{{data.WorkorderStatus === 'Scheduled'}} 
                        text-yellow-{{data.WorkorderStatus === 'InProgress'}}
                        text-green-{{data.WorkorderStatus === 'Completed'}}
                        text-orange-{{data.WorkorderStatus === 'Delayed'}}">
            {{data.WorkorderStatus}}
          </ion-label>
        </p>
      </div>
    </ion-card-content>
    <!-- </a> -->
  </ion-card>
  <ion-card *ngIf="viewworkorder?.length == 0" style="background-color: #FFF !important;">
    <ion-card-content>
      No records found
    </ion-card-content>
  </ion-card>


</ion-content>