<ion-header>
    <ion-toolbar>
        <ion-buttons slot="start">
            <ion-menu-button></ion-menu-button>
        </ion-buttons>
        <ion-title class="title">
            <ion-icon class="arrow" ios="ios-arrow-back" md="md-arrow-back" (click)='GoBack()'></ion-icon>WorkOrder
            Create
        </ion-title>
    </ion-toolbar>
</ion-header>

<ion-content padding style="background-color: #EBFAFF !important;">
    <ion-grid style="background-color: rgb(255, 255, 255) !important;">
        <h3 align="center">Create WorkOrder</h3>
        <ion-item>
            <ion-label> Workorder Type*</ion-label>
            <ion-select value="brown" [(ngModel)]='WorkorderTypeKey'>
                <ion-select-option value="">Select</ion-select-option>
                <ion-select-option *ngFor="let w of workOrdertypeList" [value]="w.WorkorderTypeKey">
                    {{w.WorkorderTypeText}}</ion-select-option>
            </ion-select>

        </ion-item>
        <ion-item>
            <ion-label>Workorder Notes</ion-label>
            <ion-input type="text" [(ngModel)]='workorderNotes' maxlength="200" placeholder="Workorder Notes">
            </ion-input>
        </ion-item>
        <ion-item>
            <ion-label>Building*</ion-label>
            <ion-select [(ngModel)]="FacilityKey" (ionChange)="selectedFacility()">
                <ion-select-option value="">Select</ion-select-option>
                <ion-select-option *ngFor="let w of facilityList" [value]="w.FacilityKey"> {{w.FacilityText}}
                </ion-select-option>
            </ion-select>

        </ion-item>
        <ion-item>
            <ion-label>Floor*</ion-label>
            <ion-select [(ngModel)]="FloorKey" (ionChange)="changedFloor()" [disabled]="!FacilityKey">
                <ion-select-option value="">Select</ion-select-option>
                <ion-select-option *ngFor="let f of floorList" [value]="f.FloorKey"> {{f.FloorName}}</ion-select-option>
            </ion-select>
        </ion-item>

        <ion-item *ngIf="!showEqTypes == true">
            <ion-label>Zone</ion-label>

            <ion-select [(ngModel)]="ZoneKey" (ionChange)="changedZone()" [disabled]="!FloorKey">
                <ion-select-option value="">Select</ion-select-option>
                <ion-select-option *ngFor="let f of zoneList" [value]="f.ZoneKey"> {{f.ZoneName}}</ion-select-option>
            </ion-select>
        </ion-item>
        <ion-item *ngIf="!showEqTypes == true">
            <ion-label>Room Type</ion-label>

            <ion-select [(ngModel)]="RoomTypeKey" (ionChange)="changedRoomtype()" [disabled]="!FloorKey">
                <ion-select-option value="">Select</ion-select-option>
                <ion-select-option *ngFor="let f of roomtypeList" [value]="f.RoomTypeKey"> {{f.RoomTypeName}}
                </ion-select-option>
            </ion-select>
        </ion-item>
        <ion-item *ngIf="!showEqTypes == true">
            <ion-label>Room</ion-label>
            <ion-select [(ngModel)]="RoomKey" [disabled]="!FloorKey">
                <ion-select-option value="">Select</ion-select-option>
                <ion-select-option *ngFor="let f of roomList" [value]="f.RoomKey"> {{f.RoomName}}</ion-select-option>
            </ion-select>
        </ion-item>


        <ion-item>
            <ion-label>Is Equipment</ion-label>
            <ion-toggle [(ngModel)]="showEqTypes"></ion-toggle>
        </ion-item>

        <ion-item *ngIf="showEqTypes == true">
            <ion-label>Equipment Type</ion-label>
            <ion-select [(ngModel)]="EquipmentTypeKey" (ionChange)="selectDomainEquipmenttype()">
                <ion-select-option value="">Select</ion-select-option>
                <ion-select-option *ngFor="let f of equipmentTypeList" [value]="f.EquipmentTypeKey">
                    {{f.EquipmentTypeText}}</ion-select-option>
            </ion-select>
        </ion-item>
        <ion-item *ngIf="showEqTypes == true">
            <ion-label>Equipment</ion-label>
            <ion-select [(ngModel)]="EquipmentKey">
                <ion-select-option value="">Select</ion-select-option>
                <ion-select-option *ngFor="let f of equipmentList" [value]="f.EquipmentKey"> {{f.EquipmentName}}
                </ion-select-option>
            </ion-select>
        </ion-item>
        <div class="item item-divider"></div>
        <!-- <ion-item>
           <ion-label >Shift Type</ion-label>
           <ion-select  [(ngModel)]="ShiftTypeKey"  >
                <ion-select-option *ngFor="let f of shiftTypeList" [value]="f.ShiftTypeKey"> {{f.ShiftTypeText}}</ion-select-option>
                </ion-select>
            </ion-item> -->
        <ion-item>
            <ion-label>Priority Level</ion-label>
            <ion-select [(ngModel)]="PriorityKey">
                <ion-select-option value="">Select</ion-select-option>
                <ion-select-option *ngFor="let f of priorityList" [value]="f.PriorityKey"> {{f.PriorityText}}
                </ion-select-option>
            </ion-select>
        </ion-item>
        <ion-item>
            <ion-label>Employee</ion-label>
            <ion-select [(ngModel)]="EmployeeKey">
                <ion-select-option value="">Select</ion-select-option>
                <ion-select-option *ngFor="let f of employeeList" [value]="f.EmployeeKey"> {{f.EmployeeText}}
                </ion-select-option>
            </ion-select>
        </ion-item>
        <ion-row style="block-size: 30px" class="specifics">
            <ion-item class="specifics">Select Date-Time
                <div class="item item-divider"></div>
            </ion-item>
        </ion-row>
        <!-- <ion-item>Select Date-Time </ion-item> -->


        <ion-item>
            <ion-label>Time</ion-label>
            <ion-datetime [(ngModel)]="timeValue" display-format="H:m"></ion-datetime>
        </ion-item>

        <ion-item>
            <ion-label>Date</ion-label>
            <ion-datetime [(ngModel)]="dateValue" display-format="YYYY-MM-DD"></ion-datetime>
        </ion-item>
        <ion-item>
            <ion-label>Photo Required</ion-label>
            <ion-toggle color="secondary" [(ngModel)]="isPhotoRequired"></ion-toggle>
        </ion-item>
        <ion-item>
            <ion-label>Barcode Required</ion-label>
            <ion-toggle color="secondary" [(ngModel)]="isBarcodeRequired"></ion-toggle>
        </ion-item>
        <ion-item>
            <ion-label>Snapshot Required</ion-label>
            <ion-toggle color="secondary" [(ngModel)]="isSnapshotRequired"></ion-toggle>
        </ion-item>
    </ion-grid>
    <div align='center' padding>
        <ion-button color="success" (click)="createWorkorder()">Create Work Order</ion-button>
    </div>

</ion-content>