<ion-header>
  <ion-toolbar>
      <ion-buttons slot="start">
          <ion-menu-button></ion-menu-button>
        </ion-buttons>
        <ion-title class="title">
            <ion-icon class="arrow"  ios="ios-arrow-back" md="md-arrow-back" (click)='GoBack()'></ion-icon>WorkOrder View</ion-title>
  </ion-toolbar>
</ion-header>



<ion-content  padding style="background-color: #EBFAFF !important;">

  <!-- <img  *ngIf="loading" src="../../../../../assets/img/Loading_icon.gif" style="width: 10rem;" /> -->

   <!-- <div *ngIf="!loading"> -->
  
    <!-- <div padding>
      <ion-segment [(ngModel)]="pet" >
        <ion-segment-button value="kittens" href="workorderFilteringByEmployee">
          Kittens
        </ion-segment-button>
        <ion-segment-button value="puppies">
          Puppies
        </ion-segment-button>
      </ion-segment>
    </div> -->

    <ion-segment [(ngModel)]="filtering" style="background-color: #FFF !important;" >
      <ion-segment-button value="employee" (ionSelect)="selectedEmployees()">
        EMPLOYEE
      </ion-segment-button>
      <ion-segment-button value="facility" (ionSelect)="selectedFacility()">
        FACILITY
      </ion-segment-button>
      <ion-segment-button value="status" (ionSelect)="selectedStatus()">
        STATUS
      </ion-segment-button>
    </ion-segment>
      <!-- <ion-button ion-button color="success" href="workorderFilteringByEmployee">EMPLOYEE</ion-button>
      <ion-button ion-button color="success" href="WorkOrderFilteringByFacility">FACILITY</ion-button>
      <ion-button ion-button color="success" href="WorkOrderFilteringByStatus">STATUS</ion-button> -->

      <!-- <ion-grid>
        <ion-row> 
         <ion-col width-50><ion-button style="width:100%" ion-button expand="block" color="success" href="workorderFilteringByEmployee">EMPLOYEE</ion-button></ion-col>
         <ion-col width-50><ion-button style="width:100%" ion-button expand="block" color="success" href="WorkOrderFilteringByFacility">FACILITY</ion-button></ion-col>
       </ion-row>
       </ion-grid>
       -->
      <!-- <a class="button" >Facility</a>
        <a class="button">Status</a>
       -->
      
      
    <ion-card *ngFor="let data of viewworkorder" style="background-color: #FFF !important;"
         routerLink="/WorkOrderDetail/{{data.WorkorderKey}}">
        <ion-card-header  align='center'  padding>
            <ion-card-title>{{data.WorkorderTypeName}}</ion-card-title>
        </ion-card-header>
        <ion-card-content align='center' padding>
            <div *ngIf="data.FacilityName">
                <p>{{data.FacilityName}} - {{data.ZoneName}} - {{data.FloorName}}</p>
                <p>{{data.WorkorderTime}}</p>
                <p>Assigned to : {{data.LastName}},{{data.FirstName}} </p>
                <p>Priority : {{data.PriorityValue}}</p>
                <br>
                
                <p>
                          <ion-label class="label text-brown-{{data.WorkorderStatus === 'Scheduled'}} 
                                 text-yellow-{{data.WorkorderStatus === 'InProgress'}}
                                 text-green-{{data.WorkorderStatus === 'Completed'}}
                                 text-orange-{{data.WorkorderStatus === 'Delayed'}}">
                                {{data.WorkorderStatus}}
                          </ion-label>
                        </p>
               </div> 
        </ion-card-content> 
      <!-- </a> -->
    </ion-card>
    <ion-card *ngIf="viewworkorder?.length == 0" style="background-color: #FFF !important;">
        <ion-card-content>
        No records found
      </ion-card-content>
    </ion-card>
  <!-- </div> -->
    
</ion-content>
