ion-content{

    --ion-background-color:#EBFAFF;
}
.text-brown-true {
    color: brown;
       /*width: auto ;*/
       
   } 

   .text-yellow-true {
    color: blue;
       /*width: auto ;*/
      
   } 

   .text-green-true {
    color: green;
       /*width: auto ;*/
       
   }  

   .text-orange-true {
    color: orange;
       /*width: auto ;*/
       
   } 