ion-content{

    --ion-background-color:#EBFAFF;
}ion-grid{

    --ion-background-color:rgb(255, 255, 255);
}
.text-brown-true {
    color: brown;
       /*width: auto ;*/
       
   } 

   .text-yellow-true {
    color: blue;
       /*width: auto ;*/
      
   } 

   .text-green-true {
    color: green;
       /*width: auto ;*/
       
   }  

   .text-orange-true {
    color: orange;
       /*width: auto ;*/
       
   } 