<ion-header>
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-menu-button></ion-menu-button>
    </ion-buttons>
    <ion-title class="title">
      <ion-icon class="arrow" ios="ios-arrow-back" md="md-arrow-back" (click)='GoBack()'></ion-icon>Find Employee
    </ion-title>
  </ion-toolbar>
</ion-header>
<ion-content padding>
  <div *ngIf="!empStat"><b>Find Employee</b></div>
  <div *ngIf="empStat"><b>Find Employee : {{emp}}</b></div>
  <ion-item>
    <ion-label> Employee*</ion-label>
    <ion-select interface="popover" value="brown" [(ngModel)]='EmployeeKey'>
      <ion-select-option value="">Select</ion-select-option>
      <ion-select-option *ngFor="let e of employeeList" [value]="e.EmployeeKey">
        {{e.EmployeeText}}</ion-select-option>
    </ion-select>
  </ion-item>
  <ion-button color="success" (click)="getEmpLocation()">Search</ion-button>
  <div style="height: 100%;width: 100%" id="map_canvas"></div>
</ion-content>