// http://ionicframework.com/docs/theming/
@import '~@ionic/angular/css/core.css';
@import '~@ionic/angular/css/normalize.css';
@import '~@ionic/angular/css/structure.css';
@import '~@ionic/angular/css/typography.css';
@import '~@ionic/angular/css/display.css';
@import '~@ionic/angular/css/padding.css';
@import '~@ionic/angular/css/float-elements.css';
@import '~@ionic/angular/css/text-alignment.css';
@import '~@ionic/angular/css/text-transformation.css';
@import '~@ionic/angular/css/flex-utils.css';

.menuTitle{margin-left:5%}
.title{margin-left:-3%}
.arrow{margin-right:3%}
.specifics{
    font-weight:bold;
    
    font-size: 0.9rem;
    
}
.column{column-size:3}

.textgreentrue {
    background-color: green !important;
       /*width: auto ;*/
       
   }  

   .button-brown-true {
    background-color: blue;
    width: 150px;
    /*height: 30px;*/
}  

.button-brown-false {
    background-color: red;
    width:150px;
    /*height: 30px;*/
}  

.valid_text{
    color: red;
    font-weight: bold;
}

.button1 {
    background-color: #4CAF50; /* Green */
    border: none;
    color: white;
    padding: 15px 32px;
    text-align: center;
    text-decoration: none;
   
    font-size: 16px;
}

.text-brown-true {
    color: brown;
       /*width: auto ;*/
       
   } 

   .text-yellow-true {
    color: blue;
       /*width: auto ;*/
      
   } 

   .text-green-true {
    color: green;
       /*width: auto ;*/
       
   }  

   .text-orange-true {
    color: orange;
       /*width: auto ;*/
       
   } 